<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-900 sm:bg-gray-100 flex items-center justify-center h-screen ">
    <div class="bg-zinc-800 w-[320px] sm:bg-white p-8 rounded-lg shadow-lg max-w-sm sm:w-full ">
        <h2 class="text-slate-100 sm:text-gray-950 text-2xl font-bold text-gray-800 text-center mb-6">Create an Account</h2>
        <form action="/create" method="post">
            <div class="mb-4">
                <label class="block text-zinc-300 sm:text-gray-700 text-sm font-bold mb-2" for="name">Name</label>
                <input required id="name" name="name" type="text" placeholder="Your Name" class="bg-zinc-900 sm:bg-white w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
            <div class="mb-4">
                <label class="block text-zinc-300 sm:text-gray-700 text-sm font-bold mb-2" for="email">Email</label>
                <input required id="email" name="email" type="email" placeholder="Your Email" class="bg-zinc-900 sm:bg-white w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
            <div class="mb-4">
                <label class="block text-zinc-300 sm:text-gray-700 text-sm font-bold mb-2" for="password">Password</label>
                <input required id="password" name="password" type="password" placeholder="Your Password" class="bg-zinc-900 sm:bg-white w-full px-3 py-2 border rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500" />
            </div>
            
            <button type="submit" class="w-full bg-blue-500 text-white py-2 rounded-md hover:bg-blue-600 transition duration-200">Sign up</button>
            <p class="text-gray-600 text-sm text-center mt-4">Already have an account?<a href="./login" class="text-blue-500 hover:underline">login</a></p>
        </form>
    </div>
</body>
</html>
